.recipe {
  @apply flex flex-col lg:flex-row w-full;
}

.recipe__back-button {
  @apply absolute left-6 top-6 font-black uppercase text-white z-20;
}

.recipe__image {
  @apply h-80 overflow-hidden lg:h-screen w-full lg:w-5/12 relative;
  background-color: #fafafa;

  &:before {
    position: absolute;
    content: " ";
    z-index: 1;
    top: 0;
    height:160px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg,transparent,rgba(0, 0, 0, 0.50));
  }
}

.recipe__image__img {
  @apply h-screen w-full object-cover overflow-hidden;
}

.recipe__content {
  @apply h-screen sm:w-full lg:w-7/12 overflow-auto p-6 pt-12 pb-16;
}

.recipe__content__title {
  @apply text-4xl font-black;
}

.recipe__content__size {
  @apply text-gray-400;
}

.recipe__content__note {
}

.recipe__content__about {
}

.recipe__content__sub-title {
  @apply mb-6 text-2xl font-bold;
}

.recipe__content__separator {
  @apply my-6;
}

.recipe__content__ingredients {
}

.recipe__content__ingredients__item {
  @apply mb-2 pl-2;
}

.recipe__content__ingredients__item__checkbox {
  @apply mr-4;
  transform:scale(2);
}

.recipe__content__ingredients__item__qty {
  
}

.recipe__content__steps {
}

.recipe__content__steps__item {
  @apply mb-6 pl-2;
}
.recipe__content__steps__item:before {
  content: "-";
}

.subtle {
  @apply ml-2;
  opacity:0.2;
}