html,
body,
.page {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

.page {
  @apply w-full;
}

.main {
  @apply pt-40 m-4 flex flex-col lg:flex-row;
}

.main__title {
  @apply text-gray-400 mb-2;
}

.nav {
  @apply fixed top-0 w-full;
  background: #fafafa;
  z-index: 99999;
}

/* TITLE */

.header {
  @apply flex items-center justify-between;
}

.header__title {
  @apply m-4 mb-0 text-4xl font-black;
}

.header__meta {
  @apply m-4 mb-0 text-xl text-gray-400;
}

/* SEARCH */

.search {
  @apply relative m-4 w-full;
}

.search__bar {
  @apply w-full rounded-md border p-4;
  width: calc(100% - 2rem);
}

.search__length {
  @apply absolute top-4 right-12;
  z-index: 9999;
  opacity: 0.4;
}

/* RESULTS */

.selection {
  @apply lg:w-4/12 lg:pr-16;
}

#selection {
  @apply w-full mb-8;
  background: white;
}

.selection__image {
  @apply w-full object-cover overflow-hidden;
  @apply rounded-b-md  m-4;
  width: calc(100% - 2rem);
  border: 1px solid rgb(219, 219, 219);
  height: 20rem;
}

/* RESULTS */

.results {
  @apply w-full;
}

#results {
  @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
}

.selection__item {
  @apply inline-block flex-1 rounded-md border w-full;
  background: white;
}

.results__item {
  @apply inline-block flex-1 rounded-md border w-full;
  background: white;
  cursor: pointer;
}

.results__item__link {
}

.results__item__link__image {
  @apply rounded-b-md object-cover h-40 m-4;
  display: block;
  width: calc(100% - 2rem);
  border: 1px solid rgb(219, 219, 219);
  object-fit: cover;
}

.results__item__link__name {
  @apply px-4 pt-4 font-bold;
}

.selection__item__link__name {
  @apply px-4 pt-4 font-bold text-3xl;
}

.results__item__link__number {
  float: right;
  @apply px-4 pt-4;
  opacity: 0.15;
}

.results__item__link__cat {
  @apply px-4 pb-0 text-sm;
  opacity: 0.4;
}

.autoComplete_wrapper {
  z-index: 999;
  position: relative;
  ul {
    border: 1px solid grey;
    background: white;
    border-radius: 5px;
    width: calc(100% - 2rem);
    margin-top: 10px;
    li {
      padding: 10px 10px;
      border-bottom: 1px solid #fafafa;
      cursor: pointer;
    }
  }
}

h5 {
  @apply text-lg mb-4 inline-block;
  opacity: 0.3;
}
