{{ define "main" }}
  <div class="page">
    <div class="nav">
      <header class="header">
        <h1 class="header__title">Food pairing</h1>
      </header>
      <div class="autoComplete_wrapper search">
        <input id="autoComplete" type="text" class="search__bar" placeholder="Search by ingredient name..." />
        <span class="search__length" id="meta"></span>
      </div>
    </div>

    <div class="main">
      <div class="selection"><h5>Results for</h5><div id="selection"></div></div>
      <div class="results"><h5>Ingredients sharing molecules</h5><ul id="results"></ul></div>
    </div>
  </div> 
{{ end }}
