{{ define "main" }}

<div class="recipe">
  <button class="recipe__back-button"><a href="/">Back</a></button>
  <div class="recipe__image">
    {{ with .Resources.ByType "image" }}
      {{ range . }} <img  class="recipe__image__img" src="{{ .RelPermalink }}" /> {{ end }}
    {{ end }} 
  </div>
  <div class="recipe__content">
    <h1 class="recipe__content__title">{{.Params.title}}</h1>
    <h3 class="recipe__content__size">{{.Params.author}}, {{.Params.book}}</h3>
    <hr class="recipe__content__separator" />
    <h4 class="recipe__content__sub-title-complement">{{.Params.size}} </h4>
    <hr class="recipe__content__separator" />
    <h4 class="recipe__content__sub-title">Ingredients<span class="subtle"> {{.Params.number_of_ingredients }} </span> </h4>
    <ul class="recipe__content__ingredients">
      {{ range .Params.ingredients }}
        <li class="recipe__content__ingredients__item"><input class="recipe__content__ingredients__item__checkbox" type="checkbox"/>{{ . }}</li>
      {{ end }}
    </ul>
    <hr class="recipe__content__separator" />
    <h4 class="recipe__content__sub-title">Steps<span class="subtle"> {{.Params.number_of_steps }} </span> </h4>
    <ul class="recipe__content__steps">
      {{ range .Params.steps }}
        <li class="recipe__content__steps__item"><input class="recipe__content__ingredients__item__checkbox" type="checkbox"/>{{ . }}</li>
      {{ end }}
    </ul>
    {{if .Params.note}}
    <hr class="recipe__content__separator" />
    <h4 class="recipe__content__sub-title">Note</h4>
    <p class="recipe__content__note">{{.Params.note}}</p>
    {{end}}
    <hr class="recipe__content__separator" />
    <h4 class="recipe__content__sub-title">About</h4>
    <p class="recipe__content__about">{{.Params.about}}</p>
  </div>
</div>
{{ end }}
