{{ define "main" }}
  <div class="page">
    <div class="nav">
      <header class="header">
        <h1 class="header__title">Pairing</h1>
        <span class="header__meta" id="meta">Ingredients : x | Molecules : y </span>
      </header>
      <div class="search">
        <input id="search" type="text" class="search__bar" placeholder="Search by ingredient..." />
        <span class="search__length" id="results-length"></span>
      </div>
    </div>
    <div class="main">
      <h3 id="title" class="main__title">Ingredients with sharing molecules</h3>
      <ul id="results" class="results"></ul>
    </div>
    <div id="images" style="display: none">
    </div>
  </div> 
  {{ partial "js" }}
{{ end }}
